/*
custom.css

Use this file to add custom CSS to your theme.
Make sure to uncomment out the line in theme.liquid so that this css file is loaded.

For more information check out this help guide:
https://help.switchthemes.co/cascade/advanced/custom-css.html
*/


:root {
    --font-primary: "Ancient Medium", sans-serif;
    --font-secondary: "CSClaes-Regular", sans-serif;
    --font-body: "Source Sans Pro", sans-serif;
    --size-base: 1rem;
    --size-lg: 1.25rem;
    --size-xl: 1.5rem;
    --size-2xl: 2rem;
    --size-3xl: 2.5rem;
    --size-4xl: 3.5rem;

}

h1{
    font-size: var(--size-3xl);
    font-family: var(--font-primary);
}

h2,
h3,
h4,
h5,
h6, .font-heading, .text-heading-standard{
   font-family: var(--font-secondary);
<<<<<<< HEAD
   font-size: var(--size-3xl);
=======
   font-size: clamp(2rem,4vw,6rem);
>>>>>>> 4dfe64d (style: increase font size in the header)
   text-transform: none;
}

body,
p,
li,
span,
a,
button,
input,
textarea {
    font-family: inherit;
}